@media (max-width: 1331px) {
    .page .banner .main-carousel-outer .container .main-carousel-title {
        margin-bottom: 30px;
        font-size: 55px
    }
}
@media (max-width: 1199px) {
    section.prime-wiki-list.prime-partners .container .main-carousel-title {
        font-size: 55px;
        margin-bottom: 35px
    }
    section.our-history .history-in-years {
        background: url(../img/dots.png) no-repeat top 28px left 418px
    }
    section .container .col-lg-7 .img-rifle img {
        padding-top: 100px;
        width: 122%
    }
    section.white-block-services .container .col-lg-7 .img-rifle img {
        margin: 0
    }
    section.dark-block-services .container .col-lg-7 .img-rifle img {
        margin-left: -120px
    }
    section.white-block-services:nth-child(4) .container .col-lg-7 .img-rifle img {
        margin-left: -24px
    }
    section.dark-block-services:nth-child(5) .col-lg-7 .img-rifle .book {
        width: 46%;
        right: -12px
    }
}
@media (max-width: 991px) {
    section.our-history .history-in-years {
        background: url(../img/dots.png) no-repeat top 65px left 345px
    }
    section.our-history .history-in-years .col-md-4 {
        margin-bottom: 30px
    }
    section.our-history .history-in-years .col-md-7 .history-text {
        padding-top: 0
    }
    .page .blog-main.wiki-main.wiki-main-list .container .aside .aside-social li {
        margin-right: 15px;
        margin-left: 15px
    }
    .banner.contacts-banner .prime-contacts h1, section.contacts.contacts-partners .container h2 {
        font-size: 55px
    }
    section.contacts-page .container .col-md-5, section.contacts-partners .container .col-md-5 {
        margin-bottom: 20px
    }
    .our-team .our-team-list .col-lg-3 {
        margin-bottom: 25px
    }
    .partnership .partnership-block {
        margin-bottom: 25px
    }
    .partnership .container .col-md-6 {
        padding-left: 5px;
        padding-right: 5px
    }
    .partnership .partnership-and-vacancy .contact-info .email, .partnership .partnership-and-vacancy .contact-info .tel {
        float: none;
        margin: 20px auto
    }
    section.map2 {
        height: 350px
    }
    section.our-dialers .address-dialers-list li {
        margin-bottom: 25px
    }
    section.white-block-services .container .col-lg-7 .img-rifle img, section.dark-block-services .container .col-lg-7 .img-rifle img {
        width: 100%;
        margin: 0 auto
    }
    section.dark-block-services .container .col-lg-7 .img-rifle img {
        margin-left: -90px
    }
    section.dark-block-services:nth-child(5) .col-lg-7 .img-rifle span {
        position: initial
    }
    section.dark-block-services:nth-child(5) .col-lg-7 .img-rifle .book {
        width: 36%;
        right: 40px;
        bottom: -140px
    }
}
@media (max-width: 767px) {
    .container-fluid .search input {
        position: absolute;
        padding-left: 20px;
        right: 0;
        top: -78px;
        z-index: 9;
        border: 1px solid;
        width: 305px;
        height: 50px;
        font-size: 20px;
        background-color: rgba(63, 64, 63, 0.9);
        color: #ac9455;
        outline: none;
        cursor: pointer
    }
    .header .header-nav-inner .header-search {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0;
        z-index: 99;
        padding-right: 30px
    }
    section.our-history .history-in-years {
        background: inherit;
        padding-top: 85px
    }
    section.our-history .history-in-years .col-md-4 img {
        display: block;
        margin: 0 auto
    }
    section.our-history .history-in-years .col-md-4 {
        margin-bottom: 25px
    }
    section.our-history .history-in-years .col-md-7 {
        padding-left: 15px;
        text-align: center
    }
    section.our-history .history-in-years .col-md-7 p {
        padding: 0
    }
    section.our-history .history-in-years .col-md-7 .history-text {
        padding: 0;
        margin: 0 auto;
        margin-bottom: 30px
    }
    section.our-history .history-in-years .col-md-7 .history-text:after {
        display: none
    }
    section.our-history .history-in-years .col-md-7 .history-text:before {
        left: 43%;
        font-size: 11px;
        text-align: left;
        top: -19px;
        width: auto
    }
    main.blog-main.wiki-main.wiki-main-list .container .wiki-lists form {
        float: none;
        width: 100%;
        margin-bottom: 25px
    }
    main.blog-main.wiki-main.wiki-main-list .container .aside {
        margin: 25px auto;
        text-align: center
    }
    main.blog-main.wiki-main.wiki-main-list .container .aside .aside-social {
        margin: 0 auto
    }
    .page .banner .main-carousel-outer .container .main-carousel-title {
        font-size: 40px
    }
    section.our-dialers .address-dialers-list li {
        width: 320px;
        margin: 0 auto;
        float: none
    }
    section.our-dialers .address-dialers-list li .address-dialer {
        padding-right: 30px
    }
    section.contacts.contacts-partners .container h2, .banner.partners-banner .prime-partners h1 {
        font-size: 36px
    }
    .footer-item-wrapper {
        margin: 0 0
    }
    section.white-block-services .container .col-md-5, section.dark-block-services .container .col-md-5 {
        padding-left: 15px;
        padding-right: 15px
    }
    section.white-block-services .container .col-md-7, section.dark-block-services .container .col-md-7 {
        padding-left: 15px;
        padding-right: 15px
    }
    section .container .col-lg-7 .img-rifle img {
        padding-top: 25px
    }
}
@media (max-width: 600px) {
    section.contacts .contacts-form-inputs .input-text {
        width: 100%;
        padding: 0;
        margin-bottom: 20px
    }
    section.contacts .contacts-form-inputs .input-text:nth-child(2) {
        margin: 0
    }
    section.dark-block-services:nth-child(5) .col-lg-7 .img-rifle span {
        position: initial;
        margin: 0 auto;
        display: block;
        padding: 0;
        width: 232px
    }
    section.dark-block-services:nth-child(5) .col-lg-7 .img-rifle .book {
        position: initial;
        display: block;
        width: 200px;
        margin: 0 auto
    }
    section.white-block-services .container .col-lg-5 ul, section.dark-block-services .container .col-lg-5 ul {
        padding-left: 10px
    }
    section.white-block-services .container .col-lg-5 ul li, section.dark-block-services .container .col-lg-5 ul li {
        padding-left: 45px
    }
}
@media (max-width: 500px) {
    section.white-block-services:nth-child(4) .container .col-lg-7 .img-rifle img {
        margin: 0
    }
    section.dark-block-services .container .col-lg-7 .img-rifle .book {
        float: none
    }
    section.dark-block-services .container .col-lg-7 .img-rifle img {
        margin-left: 0;
        float: right;
        margin-right: 13%
    }
}
@media (max-width: 398px) {
    .container-fluid .search input {
        width: 235px;
        padding-right: 30px;
        font-size: 14px
    }
    section.our-history .history-in-years .col-md-4 img {
        width: 100%
    }
}
@media screen and (min-width: 768px) {
    .header-menu {
        display: inline-block !important
    }
}
@media screen and (max-width: 1199px) {
    .header-menu > li {
        margin-right: 20px
    }
    .services-item {
        margin-bottom: 50px
    }
    .tabs-caption li {
        padding-right: 20px
    }
    .presentation-name-first {
        font-size: 100px
    }
    .presentation-name-second {
        font-size: 185px;
        margin-top: -40px
    }
    .presentation-name-third {
        font-size: 180px;
        margin-top: -70px
    }
    .presentation-dark .presentation-name-first {
        font-size: 100px
    }
    .presentation-dark .presentation-name-second {
        font-size: 185px;
        margin-top: -40px
    }
    .presentation-dark .presentation-name-third {
        font-size: 180px;
        margin-top: -70px
    }
    .owl-prev {
        left: -10px !important
    }
    .owl-next {
        right: -10px !important
    }
    .about-prod-name-first {
        font-size: 100px
    }
    .about-prod-name-second {
        font-size: 170px;
        margin-top: -40px
    }
    .about-prod-name-third {
        font-size: 180px;
        margin-top: -70px
    }
    .about-prod-picture {
        bottom: -190px
    }
    .product-main-control {
        margin-top: 40px
    }
    .product-picture img {
        max-width: 100%
    }
    .aside {
        padding-left: 30px
    }
}
@media screen and (max-width: 991px) {
    .header {
        padding-top: 35px
    }
    .header-menu > li {
        margin-right: 35px
    }
    .header-nav-inner {
        width: 100%;
        text-align: center;
        margin-top: 14px
    }
    .header-logo {
        display: block;
        margin-left: auto;
        margin-right: auto
    }
    .presentation-content {
        float: none !important;
        max-width: 100% !important;
        width: 100%
    }
    .presentation .tabs {
        max-width: 100% !important
    }
    .presentation-graphic {
        float: none !important;
        width: 100% !important;
        padding-bottom: 0
    }
    .presentation-name {
        text-align: center;
        margin-top: 30px
    }
    .presentation-name-first {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important;
        margin-right: 10px
    }
    .presentation-name-first:before, .presentation-name-first:after {
        display: none
    }
    .presentation-name-second {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important;
        margin-right: 10px
    }
    .presentation-name-third {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important
    }
    .presentation-picture {
        max-width: 100%;
        position: static
    }
    .presentation-dark .presentation-type {
        text-align: center;
        margin-left: auto;
        margin-right: auto
    }
    .presentation-dark .presentation-label {
        margin-top: 20px
    }
    .short-blog-description {
        min-height: auto;
        margin-bottom: 20px
    }
    .footer-item {
        width: 33.33333333333%
    }
    .footer-item-wrapper {
        text-align: left
    }
    .about-prod-graphic {
        float: none !important;
        width: 100% !important;
        padding-bottom: 0;
        padding-right: 0
    }
    .about-prod-title {
        font-size: 35px
    }
    .about-prod-picture img {
        max-width: 100%
    }
    .about-prod-content {
        width: 100%;
        margin-top: 30px
    }
    .about-prod-type {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px
    }
    .about-prod-name {
        text-align: center
    }
    .about-prod-name-first {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important;
        margin-right: 10px
    }
    .about-prod-name-first:before, .about-prod-name-first:after {
        display: none
    }
    .about-prod-name-second {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important;
        margin-right: 10px
    }
    .about-prod-name-third {
        font-size: 50px !important;
        display: inline-block !important;
        margin-top: 0 !important
    }
    .about-prod-picture {
        max-width: 100%;
        position: static
    }
    .prod-info-content {
        padding-right: 0;
        width: 100%;
        float: none;
        margin-bottom: 50px
    }
    .prod-info-list {
        width: 25%
    }
    .prod-info-main-list {
        width: 50%
    }
    .product-text {
        margin-bottom: 30px
    }
    .product-main-control {
        width: 35%
    }
    .product-picture {
        width: 65%
    }
    .comments-content {
        padding-right: 25px
    }
    .article-title {
        font-size: 35px
    }
}
@media screen and (max-width: 767px) {
    .mobile-burger {
        display: block
    }
    .banner {
        height: auto
    }
    .header-nav-inner {
        position: relative
    }
    .header-search {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto 0
    }
    .header-menu {
        position: absolute;
        padding: 20px;
        width: 100%;
        left: 0;
        top: 79px;
        background-color: rgba(63, 64, 63, 0.9);
        z-index: 1000;
        display: none;
        margin-top: 0
    }
    .header-menu > li {
        display: block;
        margin-right: 0;
        text-align: left;
        margin-bottom: 15px
    }
    .header-menu > li:last-child {
        margin-bottom: 0
    }
    .header-menu a {
        color: #fff
    }
    .main-carousel-title {
        font-size: 35px;
        margin-bottom: 45px
    }
    .about-arms-title {
        font-size: 35px
    }
    .about-arms-name {
        position: static;
        text-align: center;
        padding-bottom: 20px
    }
    .title {
        font-size: 35px
    }
    .achievements {
        padding-bottom: 50px
    }
    .services {
        padding-bottom: 50px
    }
    .presentation {
        padding-top: 65px;
        padding-bottom: 50px
    }
    .presentation-label {
        font-size: 35px
    }
    .presentation-type {
        font-size: 14px
    }
    .tabs-caption {
        padding-bottom: 20px
    }
    .tabs-caption li {
        display: block;
        margin-bottom: 15px;
        padding-bottom: 4px
    }
    .tabs-caption li:last-child {
        margin-bottom: 0
    }
    .product-main-control {
        width: 100%;
        float: none;
        text-align: center
    }
    .product-picture {
        width: 100%;
        float: none;
        margin-top: 20px
    }
    .with-aside {
        float: none;
        width: 100%
    }
    .aside {
        margin-top: 50px;
        padding-left: 0
    }
    .blog-main {
        margin-bottom: 30px
    }
    .comments-content {
        width: calc(100% - 65px)
    }
    .comments-control {
        float: none;
        width: 100%;
        overflow: hidden;
        padding-left: 90px
    }
    .comments-control a {
        display: inline-block;
        margin-right: 10px
    }
}
@media screen and (max-width: 500px) {
    .short-blog-archive {
        position: static;
        display: block;
        text-align: center;
        margin-bottom: 20px
    }
    .short-blog .title-description {
        margin-bottom: 30px
    }
    .contacts-form-inputs .input-text {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100% !important;
        margin-bottom: 20px
    }
    .contacts-form-inputs .input-text:last-child {
        margin-bottom: 0
    }
    .footer-item {
        width: 50%
    }
    .prod-info-list {
        width: 50%
    }
    .prod-info-main-list {
        width: 100%;
        padding-right: 0;
        margin-bottom: 50px;
        overflow: hidden
    }
    .product-el-outer {
        width: 100%
    }
    .product-el {
        text-align: left;
        margin-bottom: 36px !important
    }
    .product-el label {
        margin-right: 12px !important;
        margin-left: 0 !important
    }
    .comments-form-inputs .input-text {
        padding-left: 0 !important;
        padding-right: 0 !important;
        width: 100% !important;
        margin-bottom: 20px
    }
    .comments-form-inputs .input-text:last-child {
        margin-bottom: 0
    }
}
@media screen and (max-width: 425px) {
    .comments-picture {
        display: block;
        float: none;
        margin-bottom: 10px
    }
    .comments-content {
        padding-left: 0;
        width: 100%
    }
    .comments-control {
        padding-left: 0
    }
}
@media screen and (max-width: 375px) {
    .footer-item {
        width: 100%
    }
}
